<div class="row">
    <!-- photos -->
    <div class="col-md-1">
        <div class="thumbnail" ng-repeat="img in $ctrl.phone.images">
            <img ng-src="{{img}}" class="img-responsive">
        </div>
    </div>
    <div class="col-md-4">
        <img ng-src="{{$ctrl.phone.images[0]}}" class="img-responsive">
    </div>
    <div class="col-md-4">
        <h3>{{$ctrl.phone.name}}</h3>
        <ul>
            <li ng-repeat="el in $ctrl.phone.shortInfo">{{el}}</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>{{$ctrl.phone.price}}</h3>
        <button type="button" class="btn btn-primary">В корзину</button>
    </div>
</div>

<br>