<!-- SM, MD, LG -->
<div class="row visible-sm visible-md visible-lg">
    <!-- photos -->
    <div class="col-md-1 col-sm-3 visible-sm visible-md visible-lg">
        <div style="height:60px;" class="thumbnail" ng-repeat="img in $ctrl.phone.picture" ng-click="$ctrl.setImage(img)">
            <img style="max-height:50px;" ng-src="{{img}}" class="img-responsive">
        </div>
    </div>
    <div class="col-md-4 col-sm-9">
        <img class="img-responsive center-block" style="max-height: 600px;" ng-src="{{$ctrl.mainImageUrl}}" />
    </div>
    <div class="col-md-7 col-sm-12">
        <div class="row">
            <h3>{{$ctrl.phone.name}}</h3>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row short-info" ng-repeat="el in $ctrl.phone.param" ng-if="$ctrl.params.includes(el['@name'])">
                    <div class="col-xs-6">{{el['@name']}}</div>
                    <div class="col-xs-6">{{el['#text'] + ' ' + el['@unit']}}</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <br class="visible-xs visible-sm">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{$ctrl.phone.price | currency:default:0}}</h3>
                    </div>
                    <div ng-if="!$ctrl.inCart()" class="panel-footer bg-blue color-white" style="cursor: pointer" ng-click="$ctrl.addToCart()">Добавить в корзину</div>
                    <div ng-if="$ctrl.inCart()" class="panel-footer bg-red color-white" style="cursor: pointer" ng-click="$ctrl.delFromCart()">Удалить из корзины</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- XS -->
<div class="visible-xs">
    <div class="row">
        <div class="col-xs-8">
            <h3>{{$ctrl.phone.name}}</h3>
        </div>
        <div class="col-xs-4">
            <h3 style="display:inline-block">{{$ctrl.phone.price | currency:default:0}}
                <button ng-if="!$ctrl.inCart()" class="btn bg-blue color-white" ng-click="$ctrl.addToCart()"><span style="cursor: pointer" class="glyphicon glyphicon-shopping-cart"></span></button>
                <button ng-if="$ctrl.inCart()" class="btn bg-red color-white" ng-click="$ctrl.delFromCart()"><span style="cursor: pointer" class="glyphicon glyphicon-trash"></span></button>
            </h3>
        </div>
    </div>

    <!-- photos -->
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block" style="max-height: 600px;" ng-src="{{$ctrl.mainImageUrl}}" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="row">
                <div style="height:60px; margin:5px" class="thumbnail col-xs-2" ng-repeat="img in $ctrl.phone.picture" ng-click="$ctrl.setImage(img)">
                    <img style="max-height:50px;" ng-src="{{img}}" class="img-responsive">
                </div>
            </div>
            <br>
        </div>
    </div>
    <!-- /photos -->
</div>

<div class="row">
    <div class="col-md-10 col-xs-12">
        <h3>Описание</h3>

        {{$ctrl.phone.description}}
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-xs-12">
        <h3>Характеристики</h3>
        <div class="row full-info" ng-repeat="el in $ctrl.phone.param">
            <div class="col-xs-6">{{el['@name']}}</div>
            <div class="col-xs-6" style="word-wrap: break-word;">{{el['#text'] + ' ' + el['@unit']}}</div>
        </div>
    </div>
</div>


<br>
<br>