body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background: darkblue
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: RoyalBlue;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #2874f0 0, #2874f0 100%);
    border-color: #2874ff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: #1E90FF;
    box-shadow: none;
}

.navbar-inverse form button {
    background: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    cursor: pointer;
}

.navbar-inverse form input {
    border-radius: 2px 0 0 2px;
    border: 0 none;
    font-size: 15px;
}

.navbar-inverse #cart {
    background: darkblue;
    color: white;
    border: 1px solid darkblue;
    text-shadow: none;
}

h3 {
    font-weight: 600;
}

footer {
    padding-bottom: 5px;
}

.panel,
.panel-footer {
    border-radius: 0px;
}

.row .short-info {
    border-bottom: 1px solid lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
}

.row .full-info {
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bg-darkblue {
    background: darkblue;
}

.bg-blue {
    background: #2874f0;
}

.bg-red {
    background: #d43f3a;
}

.color-white {
    color: white;
}

.my-cloud {
    padding: 5px;
    font-size: 125%;
}

.my-cloud .first {
    color: DarkOrange;
}

.my-cloud .second {
    color: Red;
}

.my-cloud .third {
    color: DarkRed;
}

.my-cloud .third div:nth-child(2) {
    color: Gold;
}

.disabled {
    color: gray;
}

.range-left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.range-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}