<div class="row">
    <div class="col-md-3 list-group list-group-item">
        <form>
            <div>
                <p><b>Производитель</b></p>
                <select class="form-control" id="sel1" ng-model="$ctrl.search.vendor" ng-change="$ctrl.find()">
                <option value="">Все</option>
                <option ng-repeat="vendor in $ctrl.vendors">{{vendor}}</option>
            </select>
            </div>
            <br>
            <div>
                <p><b>Минимальная цена</b></p>
                <div class="row">
                    <div class="col-xs-6" style="padding-right: 0;">
                        <input maxlength="6" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" ng-model="$ctrl.price.min" ng-change="$ctrl.setPrice('min')" type="text" class="form-control" placeholder="от" aria-describedby="basic-addon1">
                    </div>
                    <div class="col-xs-6" style="padding-left: 0;">
                        <input maxlength="6" style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none" ng-model="$ctrl.price.max" ng-change="$ctrl.setPrice('max')" type="text" class="form-control" placeholder="до" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <br>
            <div>
                <p><b>Операционная система</b></p>
                <div class="checkbox" ng-repeat="os in $ctrl.facets['Операционная система']">
                    <label><input type="checkbox" ng-click="$ctrl.setParam('Операционная система', os)">{{os}}</label>
                </div>
            </div>
            <br>
            <div>
                <p><b>Размер экрана</b></p>
                <div class="checkbox" ng-repeat="diagonal in $ctrl.facets['Диагональ']">
                    <label><input type="checkbox" ng-click="$ctrl.setParam('Диагональ', diagonal.value)">{{diagonal.name}}</label>
                </div>
            </div>
            <!-- <br>
        <div>
            <p><b>Разрешение экрана</b></p>
            <div class="row">
                <div class="col-xs-6" style="padding-right: 0;">
                    <select style="border-top-right-radius: 0; border-bottom-right-radius: 0;" class="form-control">
                        <option value="">от</option>
                        <option ng-repeat="resolution in $ctrl.facets['Разрешение']">{{resolution}}</option>
                    </select>
                </div>
                <div class="col-xs-6" style="padding-left: 0;">
                    <select style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none" class="form-control">
                        <option value="">до</option>
                        <option ng-repeat="resolution in $ctrl.facets['Разрешение']">{{resolution}}</option>
                    </select>
                </div>
            </div>
        </div> -->
            <hr>
            <div>
                <p><a href="" onclick="alert('nothing here yet')">Дополнительные параметры</a></p>
                <p>{{$ctrl.rs.name}}</p>
            </div>
            <input type="reset" value="Reset" id="reset" class="hidden">
            <div class="well well-sm">Найдено {{$ctrl.info.count}} товаров
                <label for="reset" class="pull-right">
                    <span title="Сбросить" ng-click="$ctrl.clear()" ng-if="!$ctrl.isEmpty($ctrl.search)" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </label>
            </div>
        </form>
    </div>
    <br class="visible-xs visible-sm">
    <div class="col-md-9">
        <!-- phone -->
        <div ng-repeat="phone in $ctrl.phones">
            <div class="row">
                <!--img  -->
                <div class="col-xs-3 text-center">
                    <a href="#!/phones/{{phone._id}}">
                        <img ng-src="{{phone.picture[0]}}" alt="{{phone.name}}" height="150">
                    </a>
                </div>
                <div class="col-xs-9">
                    <!-- name & price -->
                    <div class="row" style="font-size: 125%">
                        <div class="col-xs-10">
                            <b>
                                <a href="#!/phones/{{phone._id}}" style="color: black;">
                                    {{phone.name}}
                                </a>
                            </b>
                        </div>
                        <div class="col-xs-2 text-right"><b>{{phone.price | currency:default:0}}</b></div>
                    </div>
                    <br>
                    <!-- description -->
                    <div class="row">
                        <div class="col-xs-10">
                            <p>{{$ctrl.getPhoneInfo(phone.info)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>
<!-- /.row -->

<nav aria-label="..." class="text-center" ng-if="$ctrl.info.pages > 1">
    <ul class="pagination">
        <li ng-click="$ctrl.toThePage(1)" ng-class="$ctrl.curPage == '1' ? 'disabled' : ''"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li ng-repeat="n in [] | range:$ctrl.pages.left:$ctrl.pages.right" ng-class="$ctrl.curPage == n ? 'active' : ''" ng-click="$ctrl.toThePage(n)">
            <a href="">{{n}}</a>
        </li>
        <li ng-click="$ctrl.toThePage($ctrl.info.pages)" ng-class="$ctrl.info.pages == $ctrl.curPage ? 'disabled' : ''"><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>