<div class="row">
    <div class="col-md-3 list-group list-group-item">
        <div>
            <p><b>Производитель</b></p>
            <select class="form-control" id="sel1" ng-model="$ctrl.search.vendor" ng-change="$ctrl.find()">
                <option value="">Все</option>
                <option ng-repeat="vendor in $ctrl.vendors">{{vendor}}</option>
            </select>
        </div>
        <br>
        <div>
            <p><b>Минимальная цена</b></p>
            <div class="row">
                <div class="col-xs-6" style="padding-right: 0;">
                    <input style="border-top-right-radius: 0; border-bottom-right-radius: 0;" type="text" class="form-control" placeholder="от" aria-describedby="basic-addon1">
                </div>
                <div class="col-xs-6" style="padding-left: 0;">
                    <input style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none" type="text" class="form-control" placeholder="до" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br>
        <div>
            <p><b>Дата выхода на рынок</b></p>
            <div class="checkbox">
                <label><input type="checkbox" value="">2017</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">2016</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">2015</label>
            </div>
            <div class="row">
                <div class="col-xs-6" style="padding-right: 0;">
                    <input style="border-top-right-radius: 0; border-bottom-right-radius: 0;" type="text" class="form-control" placeholder="2013" aria-describedby="basic-addon1">
                </div>
                <div class="col-xs-6" style="padding-left: 0;">
                    <input style="border-top-left-radius: 0; border-bottom-left-radius: 0; border-left: none" type="text" class="form-control" placeholder="2017" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <br>
        <div>
            <p><b>Операционная система</b></p>
            <div class="checkbox">
                <label><input type="checkbox" ng-click="$ctrl.setParam('Операционная система', 'Android')">Android</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-click="$ctrl.setParam('Операционная система', 'iOS')">Apple iOS</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="" ng-click="$ctrl.setParam('Операционная система', 'Windows 10 mobile')">Windows Phone</label>
            </div>
        </div>
        <hr>
        <div>
            <p><a href="">Дополнительные параметры</a></p>
        </div>
    </div>
    <div class="col-md-9">
        <!-- phone -->
        <div ng-repeat="phone in $ctrl.phones">
            <div class="row">
                <!--img  -->
                <div class="col-md-3 text-center">
                    <a href="#!/phones/{{phone._id}}">
                        <img ng-src="{{phone.picture[0]}}" alt="{{phone.name}}" height="150">
                    </a>
                </div>
                <div class="col-md-9">
                    <!-- name & price -->
                    <div class="row" style="font-size: 125%">
                        <div class="col-md-10">
                            <b>
                                <a href="#!/phones/{{phone._id}}" style="color: black;">
                                    {{phone.name}}
                                </a>
                            </b>
                        </div>
                        <div class="col-md-2 text-right"><b>{{phone.price | currency:default:0}}</b></div>
                    </div>
                    <br>
                    <!-- description -->
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{$ctrl.getPhoneInfo(phone.info)}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>
<!-- /.row -->

<nav aria-label="..." class="text-center" ng-if="$ctrl.info.pages > 1">
    <ul class="pagination">
        <li ng-click="$ctrl.toThePage(1)" ng-class="$ctrl.curPage == '1' ? 'disabled' : ''"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li ng-repeat="n in [] | range:$ctrl.pages.left:$ctrl.pages.right" ng-class="$ctrl.curPage == n ? 'active' : ''" ng-click="$ctrl.toThePage(n)">
            <a href="">{{n}}</a>
        </li>
        <li ng-click="$ctrl.toThePage($ctrl.info.pages)" ng-class="$ctrl.info.pages == $ctrl.curPage ? 'disabled' : ''"><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>